/* Page Heading */
#header-title-container{

    background-image: url(/assets/Images/backgrounds/mountain_lake.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    
    align-items: center;
    justify-content: center;
    
    height: 300px;
}

pre{
    color: white;
    font-size: large;
    border-color: white;
    border-width: 3px;
    border-radius: 10px;
    border-style: double;
}
pre div.code-container{
    padding: 1% 2%;
}

pre div.code-head{
    background-color: rgba(0, 0, 0, 0.507);
    width: 100%;
    height: 40px;
}

.align-left{
    padding: 1% 1%;
}

.align-center{
    padding: 5% 5%;
}
.align-center div p{
    display: flex;
}
.align-center div h2{
    padding: 1% 0;
}